.git
.gitignore
.github

venv/
.venv/
env/

__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/

.env
.env.example

logs/*.log
!logs/.gitkeep

uploads/*
!uploads/.gitkeep

.vscode/
.idea/
Thumbs.db

*.db
*.sqlite3

docs/
DockerFile
docker-compose.yml
README.md
CLAUDE.md
